@font-face {
	font-family: 'Comic Mono';
	src: url('https://dtinth.github.io/comic-mono-font/ComicMono.ttf');
}
@font-face {
	font-family: 'Comic Mono Bold';
	src: url('https://dtinth.github.io/comic-mono-font/ComicMono-Bold.ttf');
}

::-webkit-input-placeholder, body, button, input, select, textarea, [class*="name"] {
	font-family: 'Comic Sans MS', Whitney, sans-serif;
}

.about, code, [class*="codeLine"], [class*="inlineCode"] {
	font-family: 'Comic Mono', mono !important;
}
